{
  "openapi": "3.0.3",
  "info": {
    "title": "Clinicall Hub API",
    "version": "1.0.0",
    "description": "RPC-first middleware API used to simplify scheduling and patient automation."
  },
  "servers": [
    {
      "url": "https://api.institutosonoemente.cloud"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is up",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/__routes": {
      "get": {
        "summary": "List available routes",
        "responses": {
          "200": {
            "description": "Routes list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoutesResponse" }
              }
            }
          }
        }
      }
    },
    "/rpc": {
      "post": {
        "summary": "RPC dispatcher (single entry point)",
        "description": "Executes a whitelisted operation using a stable contract: { op, data }.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RpcRequest" },
              "examples": {
                "ScheduleConfirm": {
                  "summary": "Confirm schedule",
                  "value": { "op": "schedule.confirm", "data": { "id": 7059 } }
                },
                "ScheduleCancel": {
                  "summary": "Cancel schedule",
                  "value": { "op": "schedule.cancel", "data": { "id": 7059 } }
                },
                "ScheduleSearch": {
                  "summary": "Search schedules",
                  "value": {
                    "op": "schedule.search",
                    "data": { "companyId": 1, "started": "2024-02-01", "ended": "2024-02-07" }
                  }
                },
                "PatientSearch": {
                  "summary": "Search patients",
                  "value": {
                    "op": "patient.search",
                    "data": { "argument": "", "page": 0, "sizePage": 25, "fieldSort": "name", "sortDirection": "asc" }
                  }
                },
                "PatientGet": {
                  "summary": "Get patient by id",
                  "value": { "op": "patient.get", "data": { "id": 1 } }
                },
                "CompanyList": {
                  "summary": "List companies",
                  "value": { "op": "company.list", "data": {} }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation executed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericOkResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid operation or payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenericErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "service": { "type": "string" }
        },
        "required": ["ok", "service"]
      },
      "RoutesResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "service": { "type": "string" },
          "count": { "type": "integer" },
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "methods": { "type": "array", "items": { "type": "string" } },
                "path": { "type": "string" }
              }
            }
          }
        }
      },
      "RpcRequest": {
        "type": "object",
        "properties": {
          "op": { "type": "string", "example": "schedule.confirm" },
          "data": { "type": "object", "additionalProperties": true }
        },
        "required": ["op"]
      },
      "GenericOkResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "data": { "type": "object", "additionalProperties": true }
        },
        "required": ["ok"]
      },
      "GenericErrorResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "error": { "type": "string" },
          "details": { "type": "string" },
          "requestId": { "type": "string" }
        },
        "required": ["ok", "error"]
      }
    }
  }
}
